.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}


.App-contents{
  display: flex;
  justify-content: center;
  width: 80vmax;
}


button {
  font-size: calc(10px + 2vmin);
}

textarea{
  width: 40vmin;
  height: 60vmin;
}